@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

:root {
  --default-layout-header: 60px;
  --black: #161823;
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(254, 44, 85, 1);
  --grey: rgba(22, 24, 35, 0.03);
  --grey-2: rgba(22, 24, 35, 0.12);
  --input-width: 361px;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
  padding: 8px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  color: rgba(84, 84, 84, 0.92);

  &::before {
    top: -8px;
  }
}
