@import 'normalize.css';

:root {
  --default-layout-header: 60px;
  --black: #161823;
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(254, 44, 85, 1);
  --grey: rgba(22, 24, 35, 0.03);
  --grey-2: rgba(22, 24, 35, 0.12);
  --input-width: 361px;

  --font-family: 'ProximaNova', sans-serif;
}

// font-family-tiktok
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff');
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 500;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 600;
}
@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-bold.woff2');
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  color: var(--black);
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

.tippy-box {
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
  padding: 8px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  color: rgba(84, 84, 84, 0.92);

  &::before {
    top: -8px;
  }
}
