@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

:root {
  --default-layout-header: 60px;
  --black: #000000;
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(254, 44, 85, 1);
  --input-width: 361px;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--black);
}
