.input-wrapper {
  --search-border-radius: 92px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border-radius: var(--search-border-radius);
  background: rgba(22, 24, 35, 0.06);
  border: 1.5px solid transparent;

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.input-inner {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: transparent;
  color: var(--black);
  caret-color: var(--primary);

  &:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
}

.search-btn {
  display: flex;
  align-items: center;
  color: rgba(22, 24, 35, 0.34);
  font-size: 24px;
  background: transparent;
  padding: 11px 16px 11px 12px;
  margin: -12px -16px;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);

  &:hover {
    cursor: pointer;
    background-color: var(--grey);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search-border {
  width: 1px;
  height: 28px;
  margin: -3px 16px -3px 0;
  background: rgba(22, 24, 35, 0.12);
}

.search-pop-up-wrapper {
  min-width: var(--input-width);
}

.pop-up-min-width {
  min-width: 361px;
}

// icon

.icon-wrapper {
  display: flex;
  align-items: center;
  margin: 0 12px;
  cursor: pointer;

  .loading {
    width: 16px;
    height: 16px;
    animation: spinner 1s linear infinite;
  }

  svg {
    width: 16px;
    height: 16px;
    color: rgba(22, 24, 35, 0.34);
    vertical-align: middle;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
