.pop-up-wrapper {
  width: 100%;
  max-height: min((100vh - 96px) - 60px, 734px);
  padding-top: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  overflow: hidden auto;
}

// .pop-up-title {
//   --font-color-1: rgba(22, 24, 35, 0.5);

//   height: 30px;
//   padding: 5px 12px;
//   font-size: 14px;
//   font-weight: 600;
//   color: var(--font-color-1);
// }

// .pop-up-content {
//   display: flex;
//   align-items: center;
//   padding: 9px 16px;
//   pointer-events: auto;
//   cursor: pointer;

//   &:hover {
//     background: rgba(22, 24, 35, 0.03);
//   }
// }

// .pop-up-avatar {
//   width: 40px;
//   height: 40px;
//   margin-right: 12px;
//   border-radius: 50%;
//   overflow: hidden;
//   background-color: rgba(136, 136, 136, 0.5);

//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

// .pop-up-details {
//   flex: 1;

//   .pop-up-description__title {
//     font-size: 16px;
//     line-height: 22px;
//     font-weight: 600;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }

//   .pop-up-details__description {
//     font-size: 14px;
//     line-height: 20px;
//     color: var(--font-color-1);
//     font-weight: 400;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }
// }
