.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: var(--default-layout-header, 60px);
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background: var(--white);
}

.container {
  width: 1150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 20px;
}

.search-bar {
  display: flex;
  width: var(--input-width);
  height: 46px;
}

.btn-group {
  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;

  .message-btn {
    transform: rotate(62deg);
    margin-left: 16px;
    padding: 3px 3px 10px;
    height: 32px;
  }

  .inbox-btn {
    background: transparent;
    cursor: pointer;
    margin-left: 16px;
  }

  svg {
    width: 26px;
    height: 26px;
    vertical-align: bottom;
  }
}
