.SB-pop-up-wrapper {
  width: 100%;
}

.SB-pop-up-title {
  --font-color-1: rgba(22, 24, 35, 0.5);

  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color-1);
}

.SB-pop-up-content {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  pointer-events: auto;
  cursor: pointer;

  &:hover {
    background: var(--grey);
  }
}

.SB-pop-up-avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(136, 136, 136, 0.5);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.SB-pop-up-details {
  flex: 1;

  .SB-pop-up-description__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .SB-pop-up-details__description {
    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-1);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
