.btn-menu {
  background: none;
  margin-left: 16px;
  cursor: pointer;
  font-style: normal;
  padding: 0 4px;

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }
}

.pop-up-wrapper {
  min-width: 223px;
  padding: 8px 0;
  pointer-events: auto;
}

.data-wrapper {
  padding: 10px 16px;

  &:hover {
    background: var(--grey);
  }
}

.custom-btn {
  padding: 0.5px 0px;
  width: 100%;
  justify-content: start;

  &:hover {
    background: none;
  }
}
