.user-setting-wrapper {
  min-width: 223px;
  pointer-events: auto;
  padding: 8px 0;
}

.user-header-avatar {
  margin-left: 24px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: bottom;
}

.data-wrapper {
  padding: 7px 16px;

  &:hover {
    background: var(--grey);
  }
}

.custom-btn {
  padding: 0.5px 0px;
  width: 100%;
  justify-content: start;

  &:hover {
    background: none;
  }

  img {
    width: 20px;
    height: 20px;
  }
}
